<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>395124665386-2aoke1dn5jmkltksnij5hpitmov017eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395124665386-2aoke1dn5jmkltksnij5hpitmov017eq</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Ek3yfxkqCGzWWqBUTGEz1ommS1_cgZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>395124665386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igneus.FirebaseImages</string>
	<key>PROJECT_ID</key>
	<string>fireimage-8dc45</string>
	<key>STORAGE_BUCKET</key>
	<string>fireimage-8dc45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:395124665386:ios:a640ea8dea04b65d</string>
	<key>DATABASE_URL</key>
	<string>https://fireimage-8dc45.firebaseio.com</string>
</dict>
</plist>